/* All Sections */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

*::selection {
	background: rgba(0, 0, 0, .1);
}

body {
	/* font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	font-size: 16px;
	background-color: #FCFCFC;
}

h1 {
	font-size: 45px;
    font-weight: 300;
    line-height: 53px;
    margin:0px 0 16px 0;
    color:#1D2129;
}

h2 {
	font-size:28px;
	font-weight:500;
	line-height:32px;
	margin:60px 0 24px 0;
	color: #1D2129;
}
h3 {
	font-size: 24px;
	margin-bottom: 24px;
	font-weight: 400;
	color: #90949C;
}

p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 24px;
	color: #4B4F56;
}

strong {
	font-weight: 500;
}
p a {
	color:#4080FF;
}

blockquote {
  color: #4B4F56;
  /* font-family: Georgia, serif; */
  max-width:600px;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  margin: 60px auto 24px auto;
  padding: 0 0 0 16px;
  position: relative;
  border-left: 3px solid #4B4F56;
}
cite {
  max-width: 600px;
  line-height: 25px;
  vertical-align: top;
  font-size: 14px;
  display: block;
  font-style: normal;
  margin: 0 auto 32px auto;
  padding-left: 16px;
  color: #90949C;
}
cite strong {
  margin-right: 4px;
  color: #4B4F56;
}
cite img {
  width: 24px;
  vertical-align: bottom;
  height: 24px;
  border-radius: 100px;
  margin-right: 8px;
}

hr {
	border: 0;
	margin:60px 0;
	height: 0;
	border-bottom: 1px solid #E9EBEE;
}
a {
	color:inherit;
	text-decoration: none;
	cursor: pointer;
}

#content {
	padding-top: 66px;
}

/* Nav Bar */

body #nav {
	position: fixed;
	height: 66px;
	padding-top: 2px;
}
#nav {
	box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
	position: fixed;
	background-color: rgba(255,255,255,.98);
	-webkit-backdrop-filter: blur(20px);
	z-index: 9999;
	padding: 0px 0px 0px 24px;
	position: absolute;
	top: 0;
	width: 100%;
}

@supports (-webkit-backdrop-filter: none) { #nav { background-color: rgba(255, 255, 255, .85); } }

#nav div.item, #nav div.logo {
	line-height: 62px;
	display: inline-block;
	vertical-align: top;
}

#nav div.logo {
	background-image: url('/img/logo.svg');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: left center;
	color: #90949C;
	float: left;
	padding: 0 0 0 42px;
	font-weight: 200;
	font-size: 18px;
}
#nav div.logo:hover {
	opacity: .7;
}
.nav-isNotVisIfMobile{
	display: inline-block;
}

.nav-isVisIfMobile{
	display: none;
}

#nav div.item {
	font-weight: 500;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0px 32px 0 0;
	color:#90949C;
	-webkit-user-select: none;
}
#nav div.item a {
	font-weight: inherit;
	display: block;
}

#nav div.item a:hover {
	opacity: .7;
}
#nav div.item.current {
	color: #4B4F56;
	box-shadow: 0px 2px #4080FF;
}

#nav div.item.current:hover {
	opacity: 1;
}

/* Headers */

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
	position: relative;
	width: 100%;
	max-width: 1185px;
	margin: 0 auto;
	box-sizing: border-box;
}

.container--header {
	margin: 0 auto 36px auto;
	padding-left:20px;
}
.container--image {
	margin: 24px 0;
}

.container--grid li {
    display: none
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button{
    height: 58px;
    font-size: 18px;
    line-height: 26px;
    padding: 0 24px;
    border-radius: 4px;
    border-style: none;
    margin: 40px 5px 10px 5px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.button--active{
    background-color: #4080FF;
    color:white;
}

.button--active:hover{
    background-color: #FFFFFF;
    color: #4080FF;
    box-shadow: 0 6px 20px rgba(0,0,0,.08)
}

/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.card {
  display: inline-block;
  position: relative;
  width: 355px;
  background-color: white;
  vertical-align: top;
  text-align: left;
  height: 480px;
  margin:20px;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
	white-space: normal;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  color: #4B4F56;
}

.no-touch .card:hover {
  box-shadow: 0 40px 40px rgba(0,0,0,.16);
  transform: translate(0,-20px);
  transition-delay: 0s !important;
}

.no-touch .card:hover::before { content: ''; position: absolute; top: 100%; width: 100%; height: 20px; }

.card-hero{
	background-color: white;
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	position:relative;
	clear: both;
	float: left;
	overflow: auto;
	width: 100%;
	padding: 20px;
}

.card-image{
	width: 100%;
	height: 140px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-image--size-185{
	height: 140px;
}

.card-play {
	margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  text-align: center;
  height: 60px;
  width: 60px;
  opacity: .8;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	background-image: url('/public/img/play-button.svg');
	background-size: 58px 58px;
	background-repeat: no-repeat;
}
.card-body{
	position:relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: visible;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	z-index: 2
}

.card-body--video{
	height: 435px;
	background:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
}

.card-footer {
	font-size:11px;
    text-transform: uppercase;
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	bottom: 0px;
	margin:0 auto;
	width:100%;
}

.mix > a { display: inline-block; }

.card--collection {
	background-size: 100%;
	background-position: center;
	min-height: 380px;
}
.card--collection > .card-footer {
	position: absolute;
	bottom: 0;
	left:0;
}
.card--collection .card-title, .card--collection .card-type, .card--collection .card-tag {
	color: #ffffff;
}
.card--collection .card-description {
	color: #DDDFE2;
}
.card--collection .card-footer-wrapper {
	border: none;
}
.card--resource .card-hero{
	height:296px;
}

.card--article .card-hero,
.card--video .card-hero{
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card--resource .card-description {
    -webkit-line-clamp: 3;
}

.card--video .card-description {
    -webkit-line-clamp: 3;
}

.card-description--clamp-8{
    -webkit-line-clamp: 8;
}

.card-description--clamp-14{
    -webkit-line-clamp: 14;
}

.card-description--clamp-0{
    -webkit-line-clamp: 0;
}

.card-description--clamp-2{
    -webkit-line-clamp: 2;
}

.card-description--clamp-3{
    -webkit-line-clamp: 3;
}

.no-touch .card:hover .card-play {
	opacity: 1;
    transform: scale(1.25);

}

.card-circle--article{
	display: inline-block;
	line-height: 66px;
	text-align: center;
	width:48px;
	height:48px;
	background-size: 48px 48px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.card-circle {
	height: 48px;
	width: 48px;
	border-radius: 100px;
	background-color:white;
	margin-bottom: 12px;
}

.card-meta-container{
	display:inline-block;
	bottom: 0px;
	position:absolute;
	padding-bottom: 17px;
	width: 307px;
}

.card-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 12px;
	color: #1D2129;
}

.card-title--video{
	color:white;
}
.card-article-preview {
	color:#90949C !important;
}

.card-resource .card-circle{
	display: none;
}

.card-circle--articleIfNoImage{
	right:24px;
	top:16px;
}

.no-touch .card:hover .card-circle--articleIfNoImage{
	top:10px;
	right:18px;
}

.no-touch .card:hover .is-notShownIfHover{
	display: none !important;
	-webkit-transition:all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition:all 250ms cubic-bezier(.02, .01, .47, 1);
	transition:all 250ms cubic-bezier(.02, .01, .47, 1);
}

.no-touch .card:hover .is-shownIfHover{
	display: inline-block !important;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.card .is-notShownIfHover{
	display: inline-block !important;
}

.card .is-shownIfHover{
	display: none !important;
}

.card-tag {
	color:#90949C;
	display: inline-block;
}

.card-logo {
	display: inline-block;
	width: 20px;
    height: 46px;
    background-image: url(/img/logo.svg);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.card-link {
	display: inline-block;
	width: 20px;
    height: 46px;
    background-image: url(/assets/images/external-link.svg);
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.card-type {
	margin-right:20px;
	display: inline-block;
	color:#4B4F56;
}

p.card-tag,
p.card-type{
	font-size: 11px;
	line-height: 18px;
}

.card-description {
	display: block;
	display: -webkit-box;
	font-size: 14px;
	font-weight:400;
	text-align: left;
	line-height: 20px;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #4B4F56;
}

.card-description.card-description--video{
	color:white;
}

.card-footer-wrapper{
	height: 46px;
	line-height: 46px;
	border-top: 1px solid #E9EBEE ;
}

.card-row-wrapper .card{
	margin-right: 60px;
}


/* Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a.tooltip:hover {
    opacity: 1;
}
.tooltip {
    display: inline;
    position: relative;
    z-index: 1;

}
.tooltip img {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    margin: 4px;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.tooltip img:hover {
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.16);
}
.tooltip-disabled::after {
    content: '';
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #1D2129;
    border-width: 7px;
    margin-left: -7px
}
.tooltip-disabled {
    position: absolute;
    z-index: 1;
    border-radius: 400px;
    width: 18px;
    left:-50%;
    margin: 0 0 -85px 0px;
    bottom: 100%;
    text-align: center;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #1D2129;
}
.tooltip .tooltip-disabled {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}
.tooltip:hover .tooltip-disabled {
    opacity: 1;
}
.tooltip-text {
    position: absolute;
    z-index: 1;
    border-radius: 400px;
    width: 160px;
    left: -54px;
    margin: 0 0 45px 0px;
    bottom: 100%;
    text-align: center;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #1D2129;
}
.tooltip .tooltip-text {
    -webkit-transform-origin: 50% calc(100% + 10px);
    transform-origin: 50% calc(100% + 10px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s
}
.tooltip:hover .tooltip-text {
    opacity: 1
}
.tooltip-text::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 7px;
    margin-left: -7px;
    border-top-color: #1D2129;
}

a.share {
    font-weight: 400;
    font-size: 16px;
    color: #90949C;
    text-decoration: none;
    margin: 0 10px;
}

a.share:hover {
    opacity: .7;
}



/* Action Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px
}

.action_bar-wrapper{
	margin-bottom:110px;
}

.logo {
    display: inline-block;
    background-color: transparent;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #90949C;

}

.logo a {
    text-decoration: none;
    color: #90949C;
}

.logo span {
    vertical-align: top;
    line-height: 24px
}

@-webkit-keyframes "inf-bounce" {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}
keyframes inf-bounce {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    50% {
        -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }
}

.action_bar-arrow .arrow-icon {
    width: 25px;
    height: 14px;
}
.arrow-icon:hover {
    opacity: .7;
}

.action_bar-arrow {
    -webkit-animation: inf-bounce 1.5s infinite;
    animation: inf-bounce 1.5s infinite;
    display: block;
    width: 25px;
    margin: 0 auto;
}

.action_bar-share {
    bottom: 80px;
    margin: 0px auto;
    text-align: center;
    left: 0;
    right: 0;
    margin-bottom: 36px;
}



/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer {
	max-width: 1185px;
	width:100%;
	margin:110px auto 110px auto;
	padding:0 20px;
}

#footer p a {
	color:#4B4F56;
}
.copyright {
	margin: 26px 0;
	margin-left:12px;
	display:inline-block;
	color:#90949C;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	vertical-align: top;
}

.copyright a:hover {
	opacity: .7;
}

#footer-links li {
	display: inline-block;
	line-height: 66px;
	width:20px;
	height:20px;
	background-size: 20px 20px;
	margin:0 10px;
	background-repeat: no-repeat;
	background-position: left center;
}
#footer-links a {
	width:20px;
	height:20px;
}
#footer-links li:hover {
	opacity: .7;
}

#footer-links li.mail {
	background-image: url('/assets/images/mail.svg');
}

#footer-links li.github {
	background-image: url('/assets/images/github.svg');
}

#footer-links li.weibo {
	background-image: url('/assets/images/weibo.svg');
}

#footer-links li.wechat {
	background-image: url('/assets/images/wechat.svg');
}

.end-mark-icon {
	width: 80px;
	height: 80px;
	background-image: url('/imag/logo.svg');
	background-size: 80px 80px;
	margin: 0 auto;
	display:inline-block;
}

@media only screen and (max-width: 1225px) {
	.container--header {
		max-width: 790px;
	}
	#footer{
		max-width: 790px;
	}
	.container--grid {
		margin: 120px auto 60px auto;
	}
}
@media only screen and (max-width: 790px) {
	.container--header {
		max-width: 395px;
		padding: 0;
		margin-bottom: 32px;
		margin-top: 52px;
	}
	#footer{
		max-width: 395px;
	}
	.end-mark-icon {
		width: 100%;
		text-align: center;
	    height: 80px;
	    background-image: url('/img/logo.svg');
	    background-size: 80px 80px;
	    background-repeat: no-repeat;
	    background-position: center;
	    margin: 20px auto;
	    display: block;
	}
	#end-mark{
		margin:0 auto;
	}
	.copyright{
	    width: 100%;
	    text-align: center;
	    margin:0;
	}
	#footer-links{
		margin:30px auto;
		width: 100%;
	    text-align: center;
	}
	#nav div.item {
		margin: 0px 14px 0 0;
	}
	.container--header {
		text-align: center;
		width: 80%;
	}
}

@media only screen and (max-width: 500px) {
	.container--header {
		padding:0;
		width: 300px;
		margin-bottom: 12px;
		margin-top: 32px;
	}
	#nav div.nav-isVisIfMobile{
		display: inline-block;
	    float: left;
	    position: fixed;
	    left: 59px;
	}
	#nav div.nav-isNotVisIfMobile{
		display: none;
	}
	h2 {
		margin-top:0;
		margin-bottom: 12px;
	}
	p {
		margin-bottom: 12px;
	}
	.container {
		margin:20px auto;
	}
	.container--header h1{
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.container--header p{
		font-size: 14px;
		line-height: 20px;
	}
	#footer{
		max-width: 320px;
	}
	#nav div.logo-isVisIfMobile{
		display: inline-block;
		height: 62px;
		width:30px;
		padding: 11px 0px;
		margin:0px;
	}
	#nav div.logo-isNotVisIfMobile{
		display: none;
	}
	#content {
		margin: 0;
	}
	#nav {
		padding: 0 0 0 10px;
		min-width: 320px;
	}
	.card {
		width:320px;
		height:auto;
		margin: 15px 0;
	}
	.card-hero {
		padding: 0 20px 20px 20px;
	}
	.card-description {
		margin-bottom: 20px;
	}
	.card-meta-container {
		width: 280px;
	}
	.card--resource .card-hero {
		height: 267px;
	}
	.card-body--video {
		height: 392px;
	}
	.card-footer {
		position: relative;
		display: inline-block;
		padding-top:0px;
	}
	.card-body {
	}
	#nav div.item {
		margin: 0px 19px 0 0;
		display:inline-block;
	}
}

@media only screen and (max-width: 363px) {
#nav div.item {
		margin: 0px 8px 0 0;
}
}


@media screen and (max-height: 806px) and (min-width: 1225px) {
    .container--hero {
        max-width: 1090px;
    }
    .action_bar-wrapper {
        margin-top: 60px;
    }
    .action_bar-share, .action_bar-arrow {
    }
}
@media screen and (max-height: 690px) and (min-width: 320px) {
    .action_bar-wrapper {
        margin-top: 60px;
    }
    .action_bar-share {
        display: none;
    }
}

/*---------- homepage ----------*/
.home-container{
	max-width:1185px;
	margin: 0 auto;
	min-height: 80vh;
}
.h1--home-title {
	margin-bottom: 16px;
	/* font-family: '-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif'; */
	font-weight: 700;
}
h1 {
	margin: 60px 0 16px 0;
}
@media only screen and (max-width: 890px) {
	.card-list-wrapper li{
		width: 100%;
		text-align: center;
	}
	.card-list-wrapper li a{
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 1225px) {
	.home-container {
		max-width: 790px;
	}
}
@media only screen and (max-width: 790px) {
	.home-container {
		max-width: 395px;
	}
	.h1--home-title {
		font-size:42px;
	}
}
@media only screen and (max-width: 500px) {
	.home-container {
		max-width: 320px;
	}
	.container--header {
			margin: 60px auto 40px auto;
	}
}
@media screen and (max-height: 700px) and (min-width: 1225px) {

}


/*---------- videopage ----------*/
.video-wrapper {
  margin: auto 20px;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.0784314) 0px 2px 40px 0px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-wrapper {
  /* Hold final focused state
   ****************************/ }
  .search-wrapper p {
    text-align: center;
    color: #000;
    font-size: 14px; }
  .search-wrapper h4 {
    color: #000;
    text-align: center;
    letter-spacing: 0.5px;
    transform: scale(0);
    transition: all 0.3s;
    position: relative;
    top: -25px;
    margin: 0;
    font-weight: normal; }
  .search-wrapper h4.show {
    animation: alert 0.18s ease-in-out;
    animation-fill-mode: forwards; }
@keyframes alert {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
  .search-wrapper form {
    transition: all 0.15s; }
  .search-wrapper form.explode {
    transform: scale(1.4);
    opacity: 0; }
  .search-wrapper html {
    padding-top: 100px; }
  .search-wrapper form {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    position: relative; }
  .search-wrapper input[type="submit"] {
    display: none !important; }
  .search-wrapper input {
    width: 100%; }
  .search-wrapper input {
    background: none;
    border: 3px solid #000;
    border-radius: 26px;
    box-sizing: border-box;
    padding: 5px 15px 7px;
    font-size: 14px;
    color: #000;
    z-index: 2;
    position: relative; }
  .search-wrapper input:focus {
    outline: none; }
  .search-wrapper .after {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 1; }
  .search-wrapper form.open .after {
    cursor: pointer; }
  .search-wrapper .after:before,
  .search-wrapper .after:after {
    content: '';
    width: 13px;
    height: 3px;
    background-color: #000;
    border-radius: 3px;
    position: absolute;
    transform-origin: 100% 100%; }
  .search-wrapper .after:after {
    bottom: -3px;
    right: -3px;
    transform: rotate(45deg); }
  .search-wrapper .after:before {
    top: -3px;
    right: -3px;
    transform: rotate(-45deg);
    opacity: 0; }
  .search-wrapper form,
  .search-wrapper form .after,
  .search-wrapper form .after:before,
  .search-wrapper form .after:after {
    animation-duration: 1.1s;
    animation-fill-mode: forwards; }
  .search-wrapper form.in {
    animation-name: expand; }
  .search-wrapper form.in .after:before {
    animation-name: beforemagic; }
  .search-wrapper form.in .after:after {
    animation-name: aftermagic; }
  .search-wrapper form.close,
  .search-wrapper form.close .after,
  .search-wrapper form.close .after:before,
  .search-wrapper form.close .after:after {
    animation-direction: reverse; }
  .search-wrapper form.close {
    animation-name: expand; }
  .search-wrapper form.close .after:before {
    animation-name: beforemagic; }
  .search-wrapper form.close .after:after {
    animation-name: aftermagic; }
  .search-wrapper form.open {
    width: 250px;
    color: #000; }
  .search-wrapper form.open .after {
    z-index: 3; }
  .search-wrapper form.open .after:before {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1; }
  .search-wrapper form.open .after:after {
    width: 20px;
    bottom: 10px;
    right: 15px; }
@keyframes aftermagic {
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px; }
  15% {
    opacity: 1; }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
    opacity: 0; }
  25% {
    opacity: 0; }
  64% {
    opacity: 0; }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px; }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px; }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px; }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px; } }
@keyframes beforemagic {
  50% {
    opacity: 0; }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px; }
  65% {
    width: 30px;
    top: 6px;
    right: 10px; }
  80% {
    width: 20px;
    top: 9px;
    right: 13px; }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1; } }
@keyframes expand {
  0% {
    color: transparent; }
  20% {
    width: 36px; }
  45% {
    width: 250px; }
  99% {
    color: transparent; }
  100% {
    width: 250px;
    color: #000; } }

.support-videos {
    margin-top: 120px;
}
.support-videos .mix {
    background: #fff;
    margin: 10px auto;
    border-radius: 3px;
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
}
.support-videos .mix a img {
    width: 115px;
    height: 40px;
    margin: 10px 20px;
    display: block;
}
.support-videos p {
    text-align: center;
}

/*---------- post page ---------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

html, body {
  height: 100%; }

html {
  height: 100%;
  max-height: 100%; }

body {
  /* font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-size: 1em;
  color: #666666;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  background: #f39ca4; }

.page-wrapper img {
    width: 100%;
}
.page-wrapper a {
  text-decoration: none;
  color: #BF1827; }
  a:hover {
    color: #7b0f19;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s; }

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  logoily: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 500;
  color: #333333;
  -webkit-font-smoothing: antialiased; }

h1 {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: .05em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 1em; }

p {
  margin-bottom: 1.3em;
  line-height: 1.7em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  /* font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-weight: lighter;
  font-size: 1em;
  border-left: 3px solid #BF1827; }
  blockquote p:last-child {
    margin-bottom: 0; }

/*ol, ul {
  margin: 0 0 1.3em 2.5em; }*/
  ol li, ul li {
    margin: 0 0 .2em 0;
    line-height: 1.6em; }
  ol ol, ol ul, ul ol, ul ul {
    margin: .1em 0 .2em 2em; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

code {
  padding: .4em;
  padding-top: .2em;
  padding-bottom: .1em;
  background: #e8f2fb;
  border: 1px solid #c9e1f6;
  border-radius: 3px;
  /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
  font-size: .9em;
  vertical-align: middle;
  word-wrap: break-word; }

pre {
  margin-bottom: 1.3em;
  padding: 1em 2.5%;
  background: #e8f2fb;
  border: 1px solid #c9e1f6;
  border-radius: 3px;
  /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; */
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;
  overflow: auto; }
  pre code {
    padding: 0;
    background: none;
    border: none;
    word-wrap: normal; }

table {
  color: #333333;
  font-size: .9em;
  text-align: center;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid #92121e;
  width: 90%;
  margin: 50px auto; }

thead tr:first-child {
  background-color: #92121e;
  color: #F8F8F8;
  border: none; }

th {
  font-weight: bold; }

th:first-child, td:first-child {
  padding: 0 15px 0 20px; }

thead tr:last-child th {
  border-bottom: 1px solid #DDDDDD; }

tbody tr:last-child td {
  border: none; }

tbody td {
  border-bottom: 1px solid #DDDDDD;
  font-size: .85em; }

td:last-child {
  padding-right: 10px; }

hr {
  border: none; }

.page-wrapper{
    max-width: 1185px;
    margin: 0 auto;
    padding:0px 20px 0px 20px;
}

.container--narrow {
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
	font-size: 18px;
    line-height: 27px;
    color: #90949C;
    margin-bottom: 24px;
}

.related_posts-container .related_posts-header {
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    margin: 48px 0;
    font-weight: 500;
    color: #90949C;
}
.related_posts-container {
    max-width: 1185px;
    margin:30px auto;
}

.photo-grid-content {
    width: 100%;
    margin-bottom: 24px;
}
.photo-grid-content img {
    width: 100%;
    height: 50%;
    padding-right: 24px;
}
.container--full-width {
    width:100%;
}

.container--text {
    max-width: 680px;
    margin:0 auto 60px auto;
}
.container--image {
    overflow: hidden;
    width:100%;
    position: relative;
    height: auto;
    margin: 0 0;
    background-color: #E9EBEE;
    padding-bottom: 48.61%;
}
.container--call-to-action {
    text-align: center;
    margin:0px 0 30px 0;
}
.container--call-to-action button {
    margin: 40px 5px 10px 5px;
}

.careers-hero {
    background-image: url(../img/careers.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    -webkit-transition: all 450ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 450ms cubic-bezier(.02, .01, .47, 1);
    transition: all 450ms cubic-bezier(.02, .01, .47, 1);
    background-position: center;
    transition-delay: 0ms;
    width:100%;
    height:100%;
    opacity: 0;
}
.visible {
    opacity: 1;
}

@media only screen and (max-width: 890px) {
	img {
		width:100%;
	}
}

@media only screen and (max-width: 1225px) {
	#footer {
		max-width: 1185px;
	}
    .photo-grid-content:first-child {
        margin-right:8px;
    }
}
@media only screen and (max-width: 500px) {
    h2 {
        line-height: 28px;
        margin-top:60px;
    }
    blockquote {
        /*font-size: 20px;
        line-height: 28px;*/
    }
    .photo-grid-content img {
        width: 100%;
        padding:0;
    }
}

.container--header h1 {
    margin: 60px 0 16px 0;
}
