---
layout:     default
title: What do you want to make?  
description: Collection of articles, tutorials, and resources written for the (STMB).
author: jpliew
cover_image: banner.jpg 
---
<!-- <link href="/css/flex-layout-attribute.min.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="/css/fbmain.css">
<link rel="stylesheet" type="text/css" href="{{ "/css/homepage.css" | prepend: site.baseurl }}">

<div class="container--grid home-container">
    <ul layout="rows top-left" id="MixItUpF13DC5">
        {% for post in paginator.posts %}
        {% if post.post-card-type == 'article' %}
        <li class="mix" style="display: inline-block;" data-bound="">
            <a href="{{ post.url }}">
                <div class="card card--article not-visible">
                    <div class="card-body">
                        <div class="card-title card-title--articleIfNoImage">{{ post.title | replace: site.stmb_key , site.stmb }}</div>
                        <p class="card-description card-description--clamp-14">{{ post.subtitle | replace: site.stmb_key , site.stmb}}</p>
                        <p class="card-description card-article-preview">
                            {{ post.description | strip_html | strip_newlines | truncate: 400 | replace: site.stmb_key , site.stmb}}
                        </p>
                        <p></p>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-wrapper" layout="row bottom-left">
                            <!-- <div class="card-type is-notShownIfHover">{{ post.date | date: "%F"}}</div> -->
                            {% if post.author != "jpliew" %}
                                <div class="card-tag is-notShownIfHover">@{{ post.author }} &nbsp;&nbsp;</div>
                            {% endif %}
                            <div class="card-tag is-notShownIfHover">
                                {% for tag in post.tags %}
                                    {{ tag }} &nbsp;&nbsp;
                                {% endfor %}
                            </div>
                            <div class="card-tag is-shownIfHover">View More</div>
                            <div class="card-logo is-shownIfHover" self="right"></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        {% endif %}
        {% if post.post-card-type == 'image' %}
        <li class="mix">
            <a href="{{ post.url }}">
    			<div class="card card--article not-visible" >
    				<div class="card-body">
    					<div class="card-title">{{ post.title | replace: site.stmb_key , site.stmb }}</div>
    					<div class="card-description card-description--clamp-0">
                            {{ post.description | strip_html | strip_newlines | truncate: 200 | replace: site.stmb_key , site.stmb }}
                        </div>
    				</div>
    				<div class="card-hero">
    					<div class="card-image card-image--size-185" data-url="/{{ post.categories | join: '/' }}/img/{{ post.card-image }}"></div>
    				</div>
    			    <div class="card-footer">
                        <div class="card-footer-wrapper" layout="row bottom-left">
                            <!-- <div class="card-type is-notShownIfHover">{{ post.date | date: "%F"}}</div> -->
                            {% if post.author != "jpliew" %}
                                <div class="card-tag is-notShownIfHover">@{{ post.author }} &nbsp;&nbsp;</div>
                            {% endif %}
                            <div class="card-tag is-shownIfHover">
                                {% for tag in post.tags %}
                                    {{ tag }} &nbsp;&nbsp;
                                {% endfor %}
                            </div>
                            <div class="card-tag is-shownIfHover">View More</div>
                            <div class="card-logo is-shownIfHover" self="right"></div>
                        </div>
    			    </div>
    		     </div>
		    </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% include pagination.html %}
</div>
