<META HTTP-EQUIV='Content-Security-Policy' CONTENT="base-uri 'self'; default-src 'self' https://www.google-analytics.com ; script-src 'self' 'unsafe-inline' 'nonce-77AABBCC' 'strict-dynamic' https: http: ; style-src 'self' 'unsafe-inline' https://netdna.bootstrapcdn.com ; font-src 'self' https://netdna.bootstrapcdn.com; ">
{% for mainpage in site.pages reversed %}
{% assign pagecat=page.categories[1] %}
{% if mainpage.category %}
    {% if mainpage.lang==page.lang and mainpage.category==pagecat %} 
        {% assign current_title=page.title | append: ' | ' | append: mainpage.title %}
        {% assign mainpage_title=mainpage.title %}
        {% assign current_github_url=mainpage.github_url %}
        {% assign full_article = mainpage.url %}
        {% assign maincover_image = mainpage.cover_image %}
        {% break %}
    {% else %}
        {% assign current_title=page.title %}
        {% assign current_github_url=page.github_url %}
    {% endif %}
{% endif %}
{% endfor %}
{% if page.cover_image %}
{% assign main_image = page.cover_image %}
{% else %}
{% assign main_image = maincover_image %}
{% endif %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
<link href="/css/flex-layout-attribute.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/fbmain.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/friendly.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/img/icon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/icon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/img/icon/manifest.json">
<link rel="mask-icon" href="/img/icon/safari-pinned-tab.svg">
<link rel="shortcut icon" href="/img/icon/favicon.ico">
<meta name="msapplication-config" content="/img/icon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ current_title | replace: site.stmb_key , site.stmb }}" />
<meta property="og:description" content="{{ page.description | replace: site.stmb_key , site.stmb }}" />
{% if page.category %}
<meta property="og:image" content="{{ site.url }}/{{ page.lang }}/{{ page.category }}/img/{{ main_image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/{{ page.categories | join: '/' }}/img/{{ main_image }}" />
{% endif %}
<meta property="fb:app_id" content="{{ site.facebook_app_id }}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{{ current_title | replace: site.stmb_key , site.stmb }}">
<meta name="twitter:description" content="{{ page.description | replace: site.stmb_key , site.stmb }}">
<meta name="twitter:creator" content="@{{ site.data.people[page.author].twitter }}">
{% if page.category %}
<meta name="twitter:image" content="{{ site.url }}/{{ page.lang }}/{{ page.category }}/img/{{ main_image }}">
{% else %}
<meta name="twitter:image" content="{{ site.url }}/{{ page.categories | join: '/' }}/img/{{ main_image }}">
{% endif %}
<meta name="twitter:domain" content="{{ site.domain }}">
<meta name="description" content="{{ page.description | replace: site.stmb_key , site.stmb }}">
<title>{{ current_title | replace: site.stmb_key , site.stmb }}</title>
