<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/img/icon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/icon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/img/icon/manifest.json">
<link rel="mask-icon" href="/img/icon/safari-pinned-tab.svg">
<link rel="shortcut icon" href="/img/icon/favicon.ico">
<meta name="msapplication-config" content="/img/icon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title | replace: site.stmb_key , site.stmb }}" />
<meta property="og:description" content="{{ page.description | replace: site.stmb_key , site.stmb }}" />
<meta property="og:image" content="{{ site.url }}/{{ page.lang }}/{{ page.category }}/img/{{ page.cover_image }}" />
<meta property="fb:app_id" content="{{ site.facebook_app_id }}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:title" content="{{ page.title | replace: site.stmb_key , site.stmb }}">
<meta name="twitter:description" content="{{ page.description | replace: site.stmb_key , site.stmb }}">
<meta name="twitter:creator" content="@{{ page.twitter_username }}">
<meta name="twitter:image" content="{{ site.url }}/{{ page.lang }}/{{ page.category }}/img/{{ page.cover_image }}">
<meta name="twitter:domain" content="{{ site.domain }}">
<meta name="description" content="{{ page.description | replace: site.stmb_key , site.stmb }}">
<title>{{ page.title | replace: site.stmb_key , site.stmb }}</title>
