<div id="nav" layout="row top-left">
    <div self="left">
        <a href="/"><div class="logo logo-isNotVisIfMobile">{{ site.title | replace: site.stmb_key , site.stmb }}</div></a>
        <a href="/"><div class="logo logo-isVisIfMobile"></div></a>
    </div>
    <div class="nav-isNotVisIfMobile">
        <div class="item">
            <a href="/en/setup/lufa">LUFA Setup</a>
        </div>
        <div class="item">
            <a href="/en/begin">Beginner's Guide</a>
        </div>
    </div>
    <div class="nav-isVisIfMobile">
        <div class="item">
            <a href="/tags">Tags</a>
        </div>
        <div class="item">
            <a href="/videos">Videos</a>
        </div>
    </div>
</div>
