---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
{% include header.html %}
</head>
<body>
<!--
    <nav><ul>
        {% for node in site.posts reversed %}
            {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
            <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
        {% endfor %}
    </ul></nav>
-->
    <!-- Cover Page -->
    <div id="page1">
    {% capture covertext %} {% include cover.md %} {% endcapture %}
    {{ covertext | markdownify | replace: site.stmb_key , site.stmb }}
    </div>
    <div class="page-break"></div>

    <!-- Preface -->
    <div id="page2">
    {% capture prefacetext %} {% include preface.md %} {% endcapture %}
    {{ prefacetext | markdownify | replace: site.stmb_key, site.stmb }}
    </div>
    <div class="page-break"></div>

    <!-- TOC -->
    <div id="page3" class="toc">
    <div class="toc-title">
    <h1>Contents</h1>
    {% capture toctext %} {% include toc.md %} {% endcapture %}
    {{ toctext | markdownify | replace: site.stmb_key, site.stmb }}
    </div>
    <div class="toc-content">
    <ul>

    {% assign pagenumber = 0  %}
    {% for post in site.categories[page.category] reversed %}
    {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
    {% if post.lang == page.lang %}
        {% assign pagenumber = pagenumber | plus: 1 %}
        {% if post.chapter %}
            </ul>
            <a href="#page{{ pagenumber | plus: 3 }}"><h3><span class="titlenumber">{{ post.chapter }}.</span>  {{ post.title | replace: site.stmb_key , site.stmb }}</h3></a>
            <ul>
        {% endif %}
        {% for contents in post.contents %}
        <li><a href="#page{{ pagenumber | plus: 3 }}">{{ contents | replace: site.stmb_key , site.stmb }}</a></li>
        {% endfor %}
        {% if post.chapter =="" %}
            </ul>
        {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
    </div>
    </div>

    <div class="page-break"></div>
    <!-- Contents -->
    {% assign pagenumber = 0  %}

    {% for post in site.categories[page.category] reversed %}
      {% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
        {% if post.lang ==  page.lang %}
            {% assign pagenumber = pagenumber | plus: 1 %}

            <div id="page{{ pagenumber | plus: 3 }}" class="{{ post.style }}">
    
            {% if post.chapter %}
                <h1>{{ post.chapter }}. {{ post.title | replace: site.stmb_key , site.stmb }}</h1>
            {% elsif post.fa-icon %}
            {% endif %}
            {{ post.content | replace: site.stmb_key , site.stmb }}
            </div>
            {% if forloop.last == true %}
            {% else %}
                <div class="page-break"></div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <!-- Footer -->  
    <div id="footer" class="footer">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
    </div>  
{% if jekyll.environment == 'production' %}
    {% include google_analytics.html %}
{% endif %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- <script src="/js/main.js"></script> -->
</body>
</html>
